:root {
	--color-inherit: inherit;
	--color-transparent: transparent;
	--color-primary: #248d61;
  --color-secondary: #676778;
	--color-background: hsl(0, 0%, 98%, 1);
	--color-text: hsla(45, 29%, 97%, 1);

	--font-family-header: 'BenchNine', sans-serif;
	--font-family-sans: 'Raleway', sans-serif;

	--step--2: clamp(0.6944rem, 0.6761rem + 0.0918vw, 0.8rem);
	--step--1: clamp(0.8333rem, 0.8043rem + 0.1449vw, 1rem);
	--step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.25rem);
	--step-1: clamp(1.2rem, 1.137rem + 0.3152vw, 1.5625rem);
	--step-2: clamp(1.44rem, 1.3508rem + 0.4462vw, 1.9531rem);
	--step-3: clamp(1.728rem, 1.6039rem + 0.6204vw, 2.4414rem);
	--step-4: clamp(2.0736rem, 1.9035rem + 0.8506vw, 3.0518rem);
	--step-5: clamp(2.4883rem, 2.2576rem + 1.1534vw, 3.8147rem);
}

*,
*::before,
*::after {
	border-width: 0;
	border-style: solid;
	box-sizing: border-box;
}

html {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	scroll-padding-top: 4rem;
}

html,
body,
.app-content {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

body,
.app-content {
	flex-grow: 1;
}

.app-content {
	isolation: isolate;
	transition-property: color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms; 
}

body {
	color: hsl(26, 8%, 16%);
	background-color: hsl(120, 38%, 12%);
	font-size: var(--step--1);
	font-family: var(--font-family-sans);
}

a {
	color: #132a13;
}

p {
	display: block; 
	margin-bottom: 1em; 
	margin-left: 0; 
	margin-right: 0; 
	margin-top: 1em; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-header);
	font-weight: 700;
	color: #132a13;
}

h1 {
	font-size: var(--step-5);
	line-height: initial;
}

h2 {
	font-size: var(--step-4);
	line-height: initial;
}

h3 {
	font-size: var(--step-3);
	line-height: initial;
}

h4 {
	font-size: var(--step-2);
	line-height: initial;
}

h5 {
	font-size: var(--step-1);
	line-height: initial;
}

h6 {
	font-size: var(--step-0);
	line-height: initial;
}
