@use 'sass:color';
@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #248d61,
  $secondary: #676778,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

@use '@material/button/mixins' as button;


html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: #248d61;
}
a:visited {
  color: color.scale(#248d61, $lightness: -35%);
}

.error-button {
  &.mdc-button {
    @include button.ink-color(color-palette.$red-600);
  }
  &.mdc-button--unelevated,
  &.mdc-button--raised {
    @include button.filled-accessible(color-palette.$red-600);
  }
  &.mdc-button--outlined {
    @include button.outline-color(color-palette.$red-600);
    @include button.ink-color(color-palette.$red-600);
  }

  @include button.ripple-states(color-palette.$red-600);
}